# Environment variables
.env
.venv
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# OS specific
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# N8N
.n8n/
